In [7]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori, association_rules
import numpy as np
import seaborn as sns

In [8]:
dataset = [['Milk', 'Onion', 'Apple', 'Kidney Beans', 'Eggs', 'Yogurt'],
['Banana', 'Onion', 'Apple', 'Kidney Beans', 'Eggs', 'Yogurt'],
['Milk', 'Apple', 'Kidney Beans', 'Eggs'],
['Milk', 'Ice cream', 'Corn', 'Kidney Beans', 'Yogurt'],
['Corn', 'Apple', 'Onion', 'Kidney Beans', 'Ice cream', 'Eggs']]

In [9]:
dataset

[['Milk', 'Onion', 'Apple', 'Kidney Beans', 'Eggs', 'Yogurt'],
 ['Banana', 'Onion', 'Apple', 'Kidney Beans', 'Eggs', 'Yogurt'],
 ['Milk', 'Apple', 'Kidney Beans', 'Eggs'],
 ['Milk', 'Ice cream', 'Corn', 'Kidney Beans', 'Yogurt'],
 ['Corn', 'Apple', 'Onion', 'Kidney Beans', 'Ice cream', 'Eggs']]

In [10]:
#Transaction Encoder
# chuyển mặt hàng thành từng cột
te = TransactionEncoder()
te_ary = te.fit(dataset).transform(dataset)
df = pd.DataFrame(te_ary, columns=te.columns_)

In [11]:
df

   Apple  Banana   Corn   Eggs  Ice cream  Kidney Beans   Milk  Onion  Yogurt
0   True   False  False   True      False          True   True   True    True
1   True    True  False   True      False          True  False   True    True
2   True   False  False   True      False          True   True  False   False
3  False   False   True  False       True          True   True  False    True
4   True   False   True   True       True          True  False   True   False

In [12]:
# Tìm tập mục phổ biến
frequent_itemsets = apriori(df, min_support=0.6, use_colnames=True)
frequent_itemsets

    support                            itemsets
0       0.8                             (Apple)
1       0.8                              (Eggs)
2       1.0                      (Kidney Beans)
3       0.6                              (Milk)
4       0.6                             (Onion)
5       0.6                            (Yogurt)
6       0.8                       (Eggs, Apple)
7       0.8               (Kidney Beans, Apple)
8       0.6                      (Onion, Apple)
9       0.8                (Eggs, Kidney Beans)
10      0.6                       (Eggs, Onion)
11      0.6                (Milk, Kidney Beans)
12      0.6               (Kidney Beans, Onion)
13      0.6              (Kidney Beans, Yogurt)
14      0.8         (Eggs, Kidney Beans, Apple)
15      0.6                (Eggs, Onion, Apple)
16      0.6        (Kidney Beans, Onion, Apple)
17      0.6         (Eggs, Kidney Beans, Onion)
18      0.6  (Eggs, Kidney Beans, Onion, Apple)

In [13]:
#Mining rules from frequent itemset
#Tìm luật kết hợp và lọc theo độ tin cậy
rules=association_rules(frequent_itemsets, metric="confidence", min_threshold=0.85)

In [14]:
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Eggs),(Apple),0.8,0.8,0.8,1.0,1.25,0.16,inf
1,(Apple),(Eggs),0.8,0.8,0.8,1.0,1.25,0.16,inf
2,(Apple),(Kidney Beans),0.8,1.0,0.8,1.0,1.00,0.00,inf
3,(Onion),(Apple),0.6,0.8,0.6,1.0,1.25,0.12,inf
4,(Eggs),(Kidney Beans),0.8,1.0,0.8,1.0,1.00,0.00,inf
5,(Onion),(Eggs),0.6,0.8,0.6,1.0,1.25,0.12,inf
6,(Milk),(Kidney Beans),0.6,1.0,0.6,1.0,1.00,0.00,inf
7,(Onion),(Kidney Beans),0.6,1.0,0.6,1.0,1.00,0.00,inf
8,(Yogurt),(Kidney Beans),0.6,1.0,0.6,1.0,1.00,0.00,inf
9,"(Eggs, Kidney Beans)",(Apple),0.8,0.8,0.8,1.0,1.25,0.16,inf
10,"(Eggs, Apple)",(Kidney Beans),0.8,1.0,0.8,1.0,1.00,0.00,inf
11,"(Kidney Beans, Apple)",(Eggs),0.8,0.8,0.8,1.0,1.25,0.16,inf
12,(Eggs),"(Kidney Beans, Apple)",0.8,0.8,0.8,1.0,1.25,0.16,inf
13,(Apple),"(Eggs, Kidney Beans)",0.8,0.8,0.8,1.0,1.25,0.16,inf
14,"(Eggs, Onion)",(Apple),0.6,0.8,0.6,1.0,1.25,0.12,inf
15,"(Onion, Apple)",(Eggs),0.6,0.8,0.6,1.0,1.25,0.12,inf
16,(Onion),"(Eggs, Apple)",0.6,0.8,0.6,1.0,1.25,0.12,inf
17,"(Kidney Beans, Onion)",(Apple),0.6,0.8,0.6,1.0,1.25,0.12,inf
18,"(Onion, Apple)",(Kidney Beans),0.6,1.0,0.6,1.0,1.00,0.00,inf
19,(Onion),"(Kidney Beans, Apple)",0.6,0.8,0.6,1.0,1.25,0.12,inf
20,"(Eggs, Onion)",(Kidney Beans),0.6,1.0,0.6,1.0,1.00,0.00,inf
21,"(Kidney Beans, Onion)",(Eggs),0.6,0.8,0.6,1.0,1.25,0.12,inf
22,(Onion),"(Eggs, Kidney Beans)",0.6,0.8,0.6,1.0,1.25,0.12,inf
23,"(Eggs, Kidney Beans, Onion)",(Apple),0.6,0.8,0.6,1.0,1.25,0.12,inf
24,"(Eggs, Onion, Apple)",(Kidney Beans),0.6,1.0,0.6,1.0,1.00,0.00,inf
25,"(Kidney Beans, Onion, Apple)",(Eggs),0.6,0.8,0.6,1.0,1.25,0.12,inf
26,"(Eggs, Onion)","(Kidney Beans, Apple)",0.6,0.8,0.6,1.0,1.25,0.12,inf
27,"(Kidney Beans, Onion)","(Eggs, Apple)",0.6,0.8,0.6,1.0,1.25,0.12,inf
28,"(Onion, Apple)","(Eggs, Kidney Beans)",0.6,0.8,0.6,1.0,1.25,0.12,inf
29,(Onion),"(Eggs, Kidney Beans, Apple)",0.6,0.8,0.6,1.0,1.25,0.12,inf

In [13]:
rules.head(10)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Apple),(Eggs),0.8,0.8,0.8,1.00,1.25,0.16,inf
1,(Eggs),(Apple),0.8,0.8,0.8,1.00,1.25,0.16,inf
2,(Kidney Beans),(Apple),1.0,0.8,0.8,0.80,1.00,0.00,1.0
3,(Apple),(Kidney Beans),0.8,1.0,0.8,1.00,1.00,0.00,inf
4,(Onion),(Apple),0.6,0.8,0.6,1.00,1.25,0.12,inf
5,(Apple),(Onion),0.8,0.6,0.6,0.75,1.25,0.12,1.6
6,(Kidney Beans),(Eggs),1.0,0.8,0.8,0.80,1.00,0.00,1.0
7,(Eggs),(Kidney Beans),0.8,1.0,0.8,1.00,1.00,0.00,inf
8,(Onion),(Eggs),0.6,0.8,0.6,1.00,1.25,0.12,inf
9,(Eggs),(Onion),0.8,0.6,0.6,0.75,1.25,0.12,1.6

In [16]:
#Using Apriori to find frequent itemset
frequent_itemsets1 = apriori(df, min_support=0.8, use_colnames=True)
frequent_itemsets1

   support                     itemsets
0      0.8                      (Apple)
1      0.8                       (Eggs)
2      1.0               (Kidney Beans)
3      0.8                (Eggs, Apple)
4      0.8        (Kidney Beans, Apple)
5      0.8         (Eggs, Kidney Beans)
6      0.8  (Eggs, Kidney Beans, Apple)

In [19]:

rules1=association_rules(frequent_itemsets1, metric="confidence", min_threshold=0.9)
rules1

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Eggs),(Apple),0.8,0.8,0.8,1.0,1.25,0.16,inf
1,(Apple),(Eggs),0.8,0.8,0.8,1.0,1.25,0.16,inf
2,(Apple),(Kidney Beans),0.8,1.0,0.8,1.0,1.00,0.00,inf
3,(Eggs),(Kidney Beans),0.8,1.0,0.8,1.0,1.00,0.00,inf
4,"(Eggs, Kidney Beans)",(Apple),0.8,0.8,0.8,1.0,1.25,0.16,inf
5,"(Eggs, Apple)",(Kidney Beans),0.8,1.0,0.8,1.0,1.00,0.00,inf
6,"(Kidney Beans, Apple)",(Eggs),0.8,0.8,0.8,1.0,1.25,0.16,inf
7,(Eggs),"(Kidney Beans, Apple)",0.8,0.8,0.8,1.0,1.25,0.16,inf
8,(Apple),"(Eggs, Kidney Beans)",0.8,0.8,0.8,1.0,1.25,0.16,inf