In [1]:
# Load libraries
import pandas as pd
from pandas.plotting import scatter_matrix
import matplotlib.pyplot as plt
from sklearn import model_selection

#thư viện báo cáo kq phân lớp 
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix

#tính độ chính xác phân lớp
from sklearn.metrics import accuracy_score

#thư viện phân lớp bằng phương pháp naïve bayes.
from sklearn.naive_bayes import GaussianNB

In [2]:
data = pd.read_csv('train.csv')
data

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,RL,62.0,7917,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,175000
1456,1457,20,RL,85.0,13175,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,2,2010,WD,Normal,210000
1457,1458,70,RL,66.0,9042,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,GdPrv,Shed,2500,5,2010,WD,Normal,266500
1458,1459,20,RL,68.0,9717,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,142125
1459,1460,20,RL,75.0,9937,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2008,WD,Normal,147500

In [3]:
data.drop('Id', axis=1, inplace=True)

In [4]:
cut_labels = ['Low','Medium','High']
cut_bins = [0, 90000, 120000, 10000000]
data['SalePrice_label'] = pd.cut(data['SalePrice'], bins=cut_bins, labels =cut_labels)

In [5]:
data

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice,SalePrice_label
0,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,Inside,...,NaN,NaN,NaN,0,2,2008,WD,Normal,208500,High
1,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,FR2,...,NaN,NaN,NaN,0,5,2007,WD,Normal,181500,High
2,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,Inside,...,NaN,NaN,NaN,0,9,2008,WD,Normal,223500,High
3,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,Corner,...,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000,High
4,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,FR2,...,NaN,NaN,NaN,0,12,2008,WD,Normal,250000,High
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,60,RL,62.0,7917,Pave,NaN,Reg,Lvl,AllPub,Inside,...,NaN,NaN,NaN,0,8,2007,WD,Normal,175000,High
1456,20,RL,85.0,13175,Pave,NaN,Reg,Lvl,AllPub,Inside,...,NaN,MnPrv,NaN,0,2,2010,WD,Normal,210000,High
1457,70,RL,66.0,9042,Pave,NaN,Reg,Lvl,AllPub,Inside,...,NaN,GdPrv,Shed,2500,5,2010,WD,Normal,266500,High
1458,20,RL,68.0,9717,Pave,NaN,Reg,Lvl,AllPub,Inside,...,NaN,NaN,NaN,0,4,2010,WD,Normal,142125,High
1459,20,RL,75.0,9937,Pave,NaN,Reg,Lvl,AllPub,Inside,...,NaN,NaN,NaN,0,6,2008,WD,Normal,147500,High

In [6]:
data.columns
data.head()
y= data.SalePrice_label #nhãn phân lớp 
#Chọn các thuộc tính phân lớp 
data_features = ['LotArea', 'YearBuilt', '1stFlrSF', 'FullBath','BedroomAbvGr','TotRmsAbvGrd']
X = data[data_features]
X.describe()
X.head()
y

0       High
1       High
2       High
3       High
4       High
        ...
1455    High
1456    High
1457    High
1458    High
1459    High
Name: SalePrice_label, Length: 1460, dtype: category
Categories (3, object): ['Low' < 'Medium' < 'High']

In [7]:
#Chia dữ liệu thành tập dữ liệu huấn luyện và kiểm tra (đào tạo sẽ dựa trên 70% dữ liệu)
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state= 0)

In [8]:
clfNB = GaussianNB()
#Train the model using the training sets y_pred=clf.predict(X_test)
clfNB.fit(X_train,y_train)
y_pred=clfNB.predict(X_test)

In [9]:
#Import scikit-learn metrics module for accuracy calculation
from sklearn import metrics
# Model Accuracy, how often is the classifier correct?
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.7488584474885844

In [10]:
predictions = clfNB.predict(X_test)
print(accuracy_score(y_test, predictions))
print(confusion_matrix(y_test, predictions))
print(classification_report(y_test, predictions))

0.7488584474885844
[[274   3  74]
 [  3  11   8]
 [ 10  12  43]]
              precision    recall  f1-score   support

        High       0.95      0.78      0.86       351
         Low       0.42      0.50      0.46        22
      Medium       0.34      0.66      0.45        65

    accuracy                           0.75       438
   macro avg       0.57      0.65      0.59       438
weighted avg       0.84      0.75      0.78       438

In [12]:
new_iris=pd.DataFrame({'sepal_length':[5.2,3.2],'sepal_width':[4.1,1.1],'petal_length':[5.0,0.2], 'petal_width':[2.3,0.3]})

In [13]:
new_iris

   sepal_length  sepal_width  petal_length  petal_width
0           5.2          4.1           5.0          2.3
1           3.2          1.1           0.2          0.3